/* CORES */
:root {
  --cinza: #f3f4f2;
  --preto: #000;
  font-size: 2vw;
}

/* CORPO */

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  background-color: var(--cinza);
  color: var(--preto);
  text-align: left;
  line-height: 1;
}

main {
  position: absolute;
  top: 15vh;
  right: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

blockquote {
  font-style: italic;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  line-height: 1.5;
}

.pagina {
  padding-top: 5vh;
  position: relative;
  width: 80%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.esconder {
  opacity: 0;
  display: none;
  visibility: hidden;
  pointer-events: none;
}

/* FONTES */

.negrito {
  font-weight: bold;
}

.titulo {
  font-size: 3em;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.subtitulo {
  font-size: 1.5em;
  font-weight: bolder;
}

.corpo {
  font-size: 0.7em;
  line-height: 1.5;
}

.desc {
  font-size: 0.6em;
}

/* FLEX */

.coluna {
  display: flex;
  -ms-flex: 1;
  flex: 1;
  flex-direction: column;
}

.linha {
  display: flex;
  -ms-flex: 1;
  flex: 1;
  flex-direction: row;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes infiniteRotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

/* Standard syntax */
@keyframes infinite-rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
.rotate-element {
  -webkit-animation: infiniteRotate 20s linear infinite; /* Safari */
  animation: infiniteRotate 20s linear infinite;
}

@media screen and (max-width: 800px) {
  main {
    top: 7vh;
  }

  .titulo {
    font-size: 6em;
  }

  .pagina {
    position: relative;
    width: 95%;
    height: auto;
    margin: auto;
  }

  .corpo {
    font-size: 2em;
  }

  .desc {
    font-size: 1.5em;
  }
}
