.luz {
  position: absolute;
  /* max-width: 100%; */
  width: 100%;
  z-index: -100;
  pointer-events: none;
}

.fundo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

#inicial-fundo {
  height: 100vh;
  overflow: hidden;
}

#luz-inicial-1 {
  top: 0;
}

#luz-inicial-2 {
}

#luz-mapa-1 {
  top: -50vh;
  left: -50vw;
  width: 200vw;
  height: auto;
}

#luz-mapa-2 {
  top: 200vh;
  right: 0;
}

#luz-sobre-1 {
  top: 0;
  right: 0;
}

#luz-sobre-2 {
  top: 100vh;
  left: 0;
}

#luz-sobre-3 {
  top: 200vh;
  right: 0;
}

@media screen and (max-width: 800px) {
  #luz-inicial-1 {
    top: 0;
    left: -50%;
    height: 50%;
    width: auto;
  }

  #luz-inicial-2 {
    height: 150%;
    top: 0;
  }

  #luz-mapa-1 {
    top: 0vh;
    left: -50vw;
    width: auto;
    height: 100vh;
  }

  #luz-mapa-2 {
    top: 100vh;
    right: 0;
  }

  #luz-sobre-1 {
    top: 0;
    right: 0;
  }

  #luz-sobre-2 {
    top: 30vh;
    left: 0;
  }

  #luz-sobre-3 {
    top: 100vh;
    right: 0;
  }
}
