.img-mapa {
  height: 15vh;
  width: auto;
  border: 1px solid var(--preto);
  border-radius: 10px;
  cursor: pointer;
  margin: 1vh 1vh;
}

#etiqueta-mapa {
  position: fixed;
  max-width: 30%;
  height: auto;
  background-color: var(--cinza);
  border: 1px solid var(--preto);
  display: block;
  padding: 0.5em 1em;
  font-size: 0.5em;
}

#fotos-mapa {
  width: 100%;
  height: 50vh;
}

#perfil {
  padding-top: 20vh;
}

.flex-perfil {
  max-width: 30vw;
  height: auto;
}

#titulo-perfil {
  justify-content: center;
  align-items: center;
}

#pronome-pessoa {
  font-size: 1.5em;
  font-weight: normal;
}

#titulo-perfil-esq {
  text-align: right;
  align-self: flex-end;
}

#funcao-pessoa {
  text-align: left;
}

#separador-perfil {
  border: 1.5px solid var(--preto);
  width: 30vh;
  transform: rotate(90deg);
}

.foto-perfil {
  align-self: center;
  width: 70%;
  height: auto;
  margin: 2em;
}

@media screen and (max-width: 800px) {
  .img-mapa {
    height: 8vh;
    border: 1px solid var(--preto);
    margin: 0.5vh 0.5vw;
  }

  #etiqueta-mapa {
    display: none;
  }

  #fotos-mapa {
    width: 90vw;
    height: auto;
  }

  #perfil {
    padding-top: 10vh;
  }

  #separador-perfil {
    border: 1.5px solid var(--preto);
    width: 10vh;
    transform: rotate(90deg);
  }

  .foto-perfil {
    height: auto;
    width: 100%;
  }
}
