.img-mapa {
  height: 20vh;
  width: auto;
  border: 1px solid var(--preto);
  border-radius: 10px;
  cursor: pointer;
  margin: 0.5em;
  box-shadow: 3px 3px 5px #888888;
}

#etiqueta-mapa {
  position: fixed;
  max-width: 30%;
  height: auto;
  background-color: var(--cinza);
  border: 1px solid var(--preto);
  display: block;
  padding: 0.5em 1em;
  font-size: 0.5em;
}

#fotos-mapa {
  width: 100%;
  height: auto;
}

#perfil {
  padding: 20vh 6vw;
}

.flex-perfil {
  max-width: 30vw;
  height: auto;
}

#titulo-perfil {
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 70%;
}

#pronome-pessoa {
  font-size: 1.5em;
  font-weight: normal;
}

#titulo-perfil-esq {
  text-align: right;
  align-self: flex-end;
}

#nome-pessoa {
  font-size: 3em;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#funcao-pessoa {
  text-align: left;
}

#separador-perfil {
  border: 1.5px solid var(--preto);
  width: 30vh;
  transform: rotate(90deg);
}

#fotos-perfil {
  width: 100%;
}

.foto-perfil {
  position: relative;
  align-self: center;
  width: 100%;
  height: auto;
  margin: auto;
}

#botao-form {
  margin: 10vh auto;
}

#link-form {
  border: 2px solid #000;
  text-decoration: none;
  font-style: normal;
  font-size: 0.8em;
  padding: 2vh 4vw;
  line-height: 2;
  color: var(--preto);
  box-shadow: 3px 3px 5px #666;
}

@media screen and (max-width: 800px) {
  .img-mapa {
    height: 15vh;
    width: auto;
    border: 1px solid var(--preto);
    margin: 0.5vh 0.5vw;
  }

  #etiqueta-mapa {
    display: none;
  }

  #fotos-mapa {
    width: 90vw;
    height: auto;
  }

  #perfil {
    padding: 10vh 0;
  }

  #separador-perfil {
    border: 1.5px solid var(--preto);
    width: 10vh;
    transform: rotate(90deg);
  }

  .foto-perfil {
    height: auto;
    width: 100%;
  }
}
