#menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 15vh;
  border-bottom: var(--preto) solid 1px;
  align-items: center;
  z-index: 100;
}

.fundo-menu {
  background-color: var(--cinza);
}

.item-menu {
  list-style: none;
  margin: 1em;
  cursor: pointer;
}

.item-menu:hover,
.item-menu:focus {
  opacity: 0.6;
}

#inicial-menu-conteiner {
  height: 90%;
  width: auto;
  margin: 1vh 5vw;
}

#inicial-menu {
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
}

#estrela-menu {
  height: 6vh;
  width: auto;
  margin: 0 5vw;
}

.menu {
  font-size: 0.8em;
}

@media screen and (max-width: 800px) {
  #inicial-menu-conteiner {
    margin: 2% 5%;
    height: 90%;
    width: auto;
  }

  #menu {
    height: 5vh;
  }

  .item-menu {
    margin: 0.5em;
  }

  #estrela-menu {
    height: 3vh;
    width: auto;
    margin: 0 3%;
  }

  .menu {
    font-size: 1.5em;
  }

  #nav-menu {
    margin: 0;
    padding: 0;
  }
}
