#estrela-sobre {
  height: 13vh;
  width: auto;
  padding: 0;
  margin: 0;
  display: inline;
}

#titulo-sobre {
  position: relative;
  left: 27vw;
  display: block;
  margin: auto;
  height: 80vh;
}

#corpo-sobre {
  position: relative;
  display: block;
  margin: 0 10vw;
  align-items: center;
  justify-content: space-between;
}

.noventa-graus {
  transform: rotate(90deg);
}

.seta-sobre {
  height: 6vh;
  width: auto;
}

#seta-1-sobre {
  padding: 10vh 15vw;
}

#seta-2-sobre {
  /* display: flex; */
  margin: 10vh 0;
}

#circulo-sobre {
  display: flex;
  align-self: center;
  width: 100%;
  height: auto;
}

#creditos-sobre {
  margin-top: 10vh;
}

#logos {
  width: 100%;
  height: auto;
  margin-top: 5vh;
}

@media screen and (max-width: 800px) {
  #estrela-sobre {
    height: 5vh;
    padding: 2vh 0;
  }
}
