#titulos-video {
  padding: 10vh 10vw 0 15vw;
}

#titulo-video {
  font-size: 2.4rem;
}

#desc-video {
  font-size: 0.7rem;
  line-height: 1.2;
}

.seta-conteudo {
  height: 4vh;
  margin: 10vh 0;
}

#elem-video {
  max-height: 80vh;
  max-width: 100%;
  margin: 0;
}

@media screen and (max-width: 800px) {
  #titulos-video {
    padding: 10vh 10vw 0 15vw;
    width: 65%;
  }

  #titulo-video {
    font-size: 4rem;
    margin-bottom: 3vh;
  }

  #desc-video {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .seta-conteudo {
    height: 2.5vh;
  }

  #elem-video {
    width: 100%;
    height: auto;
    margin-bottom: 20vh;
  }
}
