.titulos-conteudo {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

.separador-conteudo {
  height: 0;
  margin: 0 1vw;
  padding: 0;
}

#separador-videos {
  width: 80%;
}

.estrela-titulo-conteudo {
  width: 4%;
  height: auto;
}

#conteiner-pergunta-videos {
  border: 2px solid var(--preto);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#pergunta-videos {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5%;
  line-height: 1;
}

.card-conteudo {
  cursor: pointer;
}

.between {
  justify-content: space-between;
}

.titulo-grid {
  font-size: 1rem;
  font-weight: bolder;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

.desc-grid {
  font-size: 0.7rem;
  line-height: 1.3;
}

.seta-videos {
  max-width: 4vw;
  height: auto;
  margin: 0;
  padding: 0;
}

.quadrado-grid {
  width: 100%;
  height: 24.5vw;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 800px) {
  #separador-videos {
    width: 60%;
  }

  .estrela-titulo-conteudo {
    width: 10%;
  }

  #pergunta-videos {
    font-size: 2.5rem;
  }

  .quadrado-grid {
    height: 45vw;
  }

  .titulo-grid {
    font-size: 1.5rem;
  }

  .desc-grid {
    font-size: 1.2rem;
  }
}
